extends layout

block content
	.container-fluid#container-diag
		.row.justify-content-between#app-row
			
			.col#col-diag-left

				.breadcrumb.navbar-success.bg-light
					.h6.breadcrumb-item Gallery

				.row.justify-content-center

						

			.col#col-diag-center
				
				//.loader
				
				.row.justify-content-center
					.image-container.col-auto
						#plot-box
							canvas.img-disp#main-canvas(oncontextmenu="return false;")
	

			.col#col-diag-right

				.breadcrumb.navbar-success.bg-light
					.h6.breadcrumb-item Data Informations
					
				.btn-gtoup(role="group", arial-label="Basic example")
					button.btn.btn-info.btn-class-annot(type="button" onClick="drawElement(0);") Ovary
					button.btn.btn-info.btn-class-annot(type="button" onClick="drawElement(1);") Follicle
					button.btn.btn-info.btn-class-annot(type="button" onClick="drawElement(2);") Cyst

				.table-dark#list-annot



	script(src="/javascripts/interpolation.js")
	script(src="/javascripts/drawing.js")
	script(src="/javascripts/annot.js")
	script(src="/javascripts/annot_list.js")
	script.
		$(window).on("load", function(){
			loadScreenDrApp();
		});
		window.onresize = function (event) {
			refreshScreenSize();
		}