extend layout

append stylesheets
    link(rel='stylesheet', href='/stylesheets/daterangepicker.css')
    link(rel='stylesheet', href='/stylesheets/gallery.css')

block content

    .container-fluid
        .row.justify-content-between


            .col.col-md-auto.bg-info.bg-full-fill

                .h4.text-white.menu-header Gallery Menu

                .h6.text-light.menu-description Data type:
                .btn-group.btn-group-sm(role='group' aria-label='Data type')
                    button.bg-light.btn.btn-outline-dark.btn-radio-type(onClick='setEg(this)') Ovary
                    button.bg-light.btn.btn-outline-dark.btn-radio-type(onClick='setEg(this)') Uterus
                    button.bg-light.btn.btn-outline-dark.btn-radio-type(onClick='setEg(this)') All

                .h6.text-light.menu-description Annotation status:
                .btn-group.btn-group-sm(role='group' aria-label='Annotation status')
                    button.bg-light.btn.btn-outline-dark.btn-radio-type(onClick='setEg(this)') Complete
                    button.bg-light.btn.btn-outline-dark.btn-radio-type(onClick='setEg(this)') Incomplete
                    button.bg-light.btn.btn-outline-dark.btn-radio-type(onClick='setEg(this)') All

                .h6.text-light.menu-description Patient:
                input.form-control.menu-in#txt-patient(type="text" aria-describedby="patient-id" placeholder="XXXX") 

                .h6.text-light.menu-description Image:
                input.form-control.menu-in#txt-image(type="text" aria-describedby="image-id" placeholder="Image #ID") 

                if sess_user.role == "admin"
                    .h6.text-light.menu-description Annotator ID:
                    input.form-control.menu-in#txt-annot(type="text" aria-describedby="annotator" placeholder="User 01") 

                .h6.text-light.menu-description Acquisition Date:
                input.form-control.menu-in#txt-date-acqui(type="text" name="daterange" aria-describedby="date-acqui" placeholder="MM/DD/AAAA - MM/DD/AAAA") 

                .h6.text-light.menu-description Acquisition Date:
                input.form-control.menu-in#txt-date-annot(type="text" name="daterange" aria-describedby="date-annot" placeholder="MM/DD/AAAA - MM/DD/AAAA") 
                
                .btn-search-field
                    button.btn.btn-dark(onClick='search(this)') Search
                

            .col
                .justify-content-left
                    .gallery

                        .responsive
                            .gallery-item
                                a(target="_blank" href="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png")
                                    img(src="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png" alt="Cinque Terre" width="600" height="400")
                                .desc
                                    .btn-group.btn-group-sm.btn-group-show(role='group' aria-label='DR examples')
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)')
                                            i.far.fa-edit
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)') 
                                            i.far.fa-eye

                        .responsive
                            .gallery-item
                                a(target="_blank" href="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png")
                                    img(src="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png" alt="Cinque Terre" width="600" height="400")
                                .btn.check-icon(data-toggle="tooltip" data-placement="top" title="User 1")
                                    i.fas.fa-check
                                .desc
                                    .btn-group.btn-group-sm.btn-group-show(role='group' aria-label='DR examples')
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)')
                                            i.far.fa-edit
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)') 
                                            i.far.fa-eye
 
                        .responsive
                            .gallery-item
                                a(target="_blank" href="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png")
                                    img(src="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png" alt="Cinque Terre" width="600" height="400")
                                .btn.check-icon
                                    i.fas.fa-check-double
                                .desc
                                    .btn-group.btn-group-sm.btn-group-show(role='group' aria-label='DR examples')
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)')
                                            i.far.fa-edit
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)') 
                                            i.far.fa-eye
                            
                        .responsive
                            .gallery-item
                                a(target="_blank" href="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png")
                                    img(src="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png" alt="Cinque Terre" width="600" height="400")
                                .btn.healthy-icon(data-toggle="tooltip" data-placement="top" title="Mark as sick.")
                                    i.fas.fa-notes-medical
                                .desc
                                    .btn-group.btn-group-sm.btn-group-show(role='group' aria-label='DR examples')
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)')
                                            i.far.fa-edit
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)') 
                                            i.far.fa-eye
                        
                        .responsive
                            .gallery-item
                                a(target="_blank" href="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png")
                                    img(src="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png" alt="Cinque Terre" width="600" height="400")
                                .desc 
                                    .btn-group.btn-group-sm.btn-group-show(role='group' aria-label='DR examples')
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)')
                                            i.far.fa-edit
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)') 
                                            i.far.fa-eye
                            
                        .responsive
                            .gallery-item
                                a(target="_blank" href="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png")
                                    img(src="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png" alt="Cinque Terre" width="600" height="400")
                                .desc
                                    .btn-group.btn-group-sm.btn-group-show(role='group' aria-label='DR examples')
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)')
                                            i.far.fa-edit
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)') 
                                            i.far.fa-eye

                        .responsive
                            .gallery-item
                                a(target="_blank" href="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png")
                                    img(src="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png" alt="Cinque Terre" width="600" height="400")
                                .desc
                                    .btn-group.btn-group-sm.btn-group-show(role='group' aria-label='DR examples')
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)')
                                            i.far.fa-edit
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)') 
                                            i.far.fa-eye
                        
                        .responsive
                            .gallery-item
                                a(target="_blank" href="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png")
                                    img(src="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png" alt="Cinque Terre" width="600" height="400")
                                .desc
                                    .btn-group.btn-group-sm.btn-group-show(role='group' aria-label='DR examples')
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)')
                                            i.far.fa-edit
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)') 
                                            i.far.fa-eye
                        
                        .responsive
                            .gallery-item
                                a(target="_blank" href="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png")
                                    img(src="http://localhost:3000/gallery/31_OV_R_20180524111254_BM.png" alt="Cinque Terre" width="600" height="400")
                                .desc
                                    .btn-group.btn-group-sm.btn-group-show(role='group' aria-label='DR examples')
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)')
                                            i.far.fa-edit
                                        button.btn.btn-outline-dark.btn-show(onClick='setEg(this)') 
                                            i.far.fa-eye

    script(src="/javascripts/moment.js")
    script(src="/javascripts/daterangerpicker.js")
    script(src="/javascripts/gallery_script.js")
    script.
        $(window).on("load", function(){
            loadGallery();
        });