
extend layout
block content

	.main-content

		h4 Segmentation of Gynecological Structures from Ultrasound Images

		img(src="/images/ovary_seg.png", style='width:350px; padding:20px 0px;') 


		p
			| Diseases of the female reproductive system affect millions of women every year, representing more than 16% of all the cancers 
			| diagnosed in women worldwide and affecting annually 31,000 Brazilians. Due to the difficulty to distinguish between benign and
			| malignant tumors in ultrasound images - the imaging modality most widely used in gynecology - 70% of the ovaries removed in 
			| surgical procedures are false positives. Moreover, the complexity to detect small cysts during the ultrasonography and the 
			| rapid growth of the tumors leads to late diagnosis, resulting in a 66% mortality rate for ovarian cancer in Brazil.
			| Fibroids and myomas affect 20-50% of women in the age group from 30 to 50 years, being the main kind of tumors located in the 
			| uterus. Also, endometriosis is another common pathology in uterus and can cause unbearable pain and abnormal bleeding thus 
			| reducing the quality of life. 

		p
			| Despite the high mortality rate worldwide - around 46% - of cancers of the uterus and the ovaries, there has been a limited 
			| research effort on the development of Computer-Aided Diagnosis systems for these pathologies, when compared to other areas of 
			| human health. 

		p
			| This project has as main objective the development of methodologies for segmentation and characterization of the different 
			| tissues present in ultrasound images of ovaries and uterus. Such methods aim at supporting the medical diagnosis, aiding the
			| detection of suspicious masses and the calculation of biomarkers for these specific diseases. The information extracted from the
			| ultrasound data by the methods to be developed aim at the early diagnosis of malignant tumors in order to guide the patients for 
			| less aggressive and more efficient treatments. In addition, the correct classification of suspicious masses would allow the 
			| reduction of surgeries to remove false positives, improving the quality of life of women and thus reducing the government 
			| spending on women's health.
