
doctype
html
	head
		title #{title} - Medical Images Annotations
		meta(charset="utf-8")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/toogle.css')
		link(rel='stylesheet', href='/stylesheets/webstyle.css')
		link(rel='stylesheet', href='/stylesheets/annot.css')
		slink(rel='shortcut icon', href='/images/screenDR-light_mini_logo.png', type='image/x-icon') 


		block scripts
			script(src="javascripts/jquery-3.3.1.min.js")
			script(src="javascripts/popper.min.js")
			script(src="javascripts/bootstrap.min.js")

	body
		header(id='header')
		
			nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
				
				.menu-left
					a.navbar-brand(href='/')
						img.sdr-logo(src='/images/ovary.png')
				
				.menu-right
											
					button.navbar-toggler(type="button" data-toggle="collapse" 
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
					aria-expanded="false" aria-label="Toggle navigation") 
						span.navbar-toggler-icon


					.collapse.navbar-collapse#navbarSupportedContent
						ul.navbar-nav.mr-auto
							li.nav-item
								a.nav-link(href='/') Home
							li.nav-item
								a.nav-link(href='/annot') Annotations
						
						ul.navbar-nav
							li.nav-item
								a.nav-link(href='http://bioimglab.inesctec.pt/' target='_blank') BIOMEDICAL IMAGING LAB
									
		.text-center
			block content

	footer(id='footer')
	
			.logos-container(style='horizontal-align: central; padding-bottom:10px;')
				a(href='https://www.inesctec.pt/en/centres/c-ber/' target='_blank')
					img.partner-logo(src='/images/inesctec_logo.png')
				a(href='https://www.fe.up.pt/' target='_blank')
					img.partner-logo(src='/images/feup_logo.png' )
				a(href='https://www.fe.up.pt/' target='_blank')
					img.partner-logo(src='/images/chsj_logo.png' )