extend layout

append stylesheets
    link(rel='stylesheet', href='/stylesheets/gallery.css')

block content

    .container-fluid
        .row.justify-content-between


            .col.col-md-auto.bg-info.bg-full-fill

                .h4.text-white.menu-header Upload

                .h6.text-light.menu-description Select files:
                form#fileupload(name="uploadTrg" method="POST" action="javascript:submitImgForm();" enctype="multipart/form-data" target="uploadTrg")
							
                    .custom-file
                        input.custom-file-input#input-up-img(type="file", name="filetoupload", accept="image/*", multiple)
                        .custom-file-label.form-control-file(for="input-up-img") No file chosen

                    .input-group-append
                        button.btn.btn-secondary.btn-upload#btn-upload-img(type="submit") Submit

                

            .col.padding0
                .justify-content-left

                    .h3#upload-list-header

                    .gallery#selected-files

                       

    script(src="/javascripts/upload.js")
    script.
        $(window).on("load", function(){
            loadUploadPage();
        });