/*
 * Canvas
 */

/*
 * MENU
 */

.menu-container {
    margin: 10px 0px auto auto;
    white-space: nowrap;
    text-align: center;
}

/*
 * App container
 */

#container-diag {
    background: blacK;
    padding: 5px 0px 0px 0px;
}

#app-row {
    margin-right: 0px;
}

.breadcrumb-item {
    margin: 0px auto;
}

.bg-green {
    background-color: #417d44;
    color: ghostwhite;
}


/*
 * Large Images
 */

.image-container {
    margin: 5px 0;
    white-space: nowrap;
    text-align: center;
}

.img-column {
    padding: 10px;
    display: inline;
}

/* Point handle */
.handlePoint {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: rgba(255, 0, 0, 0.945);
	border: 1px solid #333;
	opacity: 1;
}

[draggable] {
    cursor: pointer;
    cursor: move;
}


/*
 *   Left Col.
 */

#list-annot{
    height: 80%;
    margin: 5px 0 0 0;
}

#btn-save {
    left: 50px;
    position: absolute;
}

#col-diag-data {
    padding: 0 0 0 30px;
    max-width: 380px;
}

.btn-class-annot {
    width: 75px;
}

.i-tab {
    max-height: 15px;
    padding-bottom: 4px;
}

.btn-annot {
    padding: 0px 10px 0px 10px;
    max-height: 25px;
    min-width: 30px;
}

.td-btn-annot {
    padding-top: 1px !important;
    padding-bottom: 2px !important;
}

.td-text-annot {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    vertical-align: middle !important;
    width: 80px;
}

.btn-save{
    padding: 3% 34%;
    text-align: center!important;
    font-size: 20px;
    position: relative;
    border-radius: 8px;
    color: whitesmoke;
    border: 2px rgb(34, 90, 212);
    background: rgb(34, 90, 212);
}

.btn-save:hover{
        background-color: rgb(0, 28, 186);
        color: white;
}



/*
*   Bottom bar
*/

#gallery-row {
    background: white;
    margin: 0;
    width: 100%;
    padding: 8px 0 7px 0;
    z-index: 1;
}

.progress {
    height: 30px;
}
.cmd-group {
    min-width: 50px;
}

.col-left-ctrl {
    padding: 0 0 0 30px;
    max-width: 120px;
}

.col-center-ctrl {
    padding: 0;
}

.col-right-ctrl {
    padding: 0 30px 0 0;
    max-width: 120px;
}

.btn-ctrl {
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}




/*
 *   Loader
 */

.loader {
    border: 16px solid #343a40;
    border-radius: 50%;
    border-top: 16px solid #417d44;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    top: 40%;
    left: 42%;
    position: absolute;
    z-index: 1;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

