/*
 * Gallery body
 */

 div.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;

    position: relative;
    text-align: right;
}

div.gallery-item:hover {
    border: 1px solid #777;
}

div.gallery-item img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 0;
    text-align: center;
}

.healthy-icon {
    color: darkorange;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 7px;
}

.check-icon {
    color: greenyellow;
    padding: 0;
    position: absolute;
    bottom: 40px;
    right: 7px;
}

.btn-group-show {
    width: 100%;
}

.btn-show {
    margin: 0;
    width: 50%;
}


/*
 * Menu
 */

div.bg-full-fill {
    height: -webkit-fill-available;
}
  div.menu-header {
      padding-top: 10px;
  }

  div.menu-description {
    text-align: left;
    padding-left: 5px;
    padding-top: 20px;
  }

  div.btn-search-field {
    margin: 20px 0;
    text-align: right;
  }

  button.btn-radio-type {
      width: 90px;
  }
  