/*
 * Gallery body
 */

 div.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    /*width: 180px;*/
    position: relative;
    text-align: right;
}

div.gallery-item:hover {
    border: 1px solid #777;
}

div.gallery-item img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 0;
    text-align: center;
}

.btn-group-show {
    width: 100%;
}

.btn-show {
    margin: 0;
    width: 50%;
}


/*
 * Icons
 */

.healthy-icon {
    color: darkorange;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 7px;
}

.check-icon {
    color: greenyellow;
    padding: 0;
    position: absolute;
    bottom: 40px;
    right: 7px;
}

button.trash-icon {
    background-color: transparent;
}
.trash-icon {
    color: red;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
}



/*
 * Menu
 */

div.bg-full-fill {
    height: -webkit-fill-available;
    min-height: 300px;
}
  div.menu-header {
      padding-top: 10px;
  }

  div.menu-description {
    margin-bottom: 3px;
    padding-left: 5px;
    padding-top: 15px;
    text-align: left;
  }

  div.btn-search-field {
    margin: 20px 0;
    text-align: right;
  }

  button.btn-radio-type {
      width: 90px;
  }
  
  input.menu-in {
    font-size: 14px;
    height: 29px;
    padding-top: 4px;
    padding-bottom: 4px;
  }


/*
 * Upload
 */

 .padding0 {
     padding: 0;
 }

 tr {
    height: 30px;
 }
 th,
 td {
     text-align: left;
 }

table.fullwidth {
    width:100%;
}

table.stripe-light {
    background-color: #e6e6e6;
}

table.stripe-dark {
    background-color: #17a2b83d;
}

tr.collapse {
    border-collapse:collapse;
}

.tab-header {
     padding: 20px 0 3px 0;
 }

.tab-field {
    padding: 0 10px 10px 0;
}

.force-tab-width {
    width: 10%;
}

.btn-upload {
    margin-top: 20px;
    left: 109px;
}

.btn-radio-type {
    color: black;
    background-color: mintcream;
    border-color: black;
}

.btn-radio-type.selected {
    opacity: 1.1;
    background-color: black !important;
    color: mintcream;
    font-weight: bold;
}
